html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*List View*/
ul {
    font-size: 14px;
    background: white;
}
li:hover {
    background-color: #E5E5E5;
}

/*Map View*/
#map {
    height: 100%;
    position: fixed;
    z-index: 0;
}

#place-search {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    z-index: 3;
}

