html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*nav*/
nav.navbar.navbar-default {
    margin-bottom: 0;
}

ul {
    font-size: 14px;
    background: white;
}

.typeLabel{
    padding: 5px;
    font-size: 16px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

li:hover {
    background-color: #E5E5E5;
}

#search-input {
    width: auto;
    vertical-align: middle;
}

/*map*/
#map {
    height: 100%;
    position: fixed;
}